<div class="widget">
  <p>
    <img src="https://cdn3.iconfinder.com/data/icons/avatars-9/145/Avatar_Robot-512.png" alt="robot avatar" class="rounded-circle" width="50px" style="vertical-align: text-top">
    <span class="badge badge-info" style="vertical-align: super; margin-left: -12px;">{{ userService.getUserData().level.length }}</span>
    <strong style="vertical-align: bottom;">{{ userService.getUserData().points }}</strong>
  </p>
  <div class="progress">
    <div class="progress-bar progress-bar-striped bg-info progress-bar-animated" role="progressbar" style="width: {{ userService.getCalculatedWidth() }}%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">{{ userService.getUserData().points }}pt</div>
  </div>
</div>
