<div class="container text-center achievments">
  <h1>
    Kitüntetések
  </h1>
  <p>
    Egy hely, ahol elköltheted a nehezen megszerzett hackpontjaid!
  </p>

  <div class="row" *ngFor="let level of levels">
    <div class="col-sm-12">
      <h3>{{ level.name }}<span class="badge badge-info">{{level.rank}}</span></h3>
    </div>
    <div class="col-sm-3 mb-5" *ngFor="let unit of level.achievments | achievmentpipe ">
      <div [hidden]="!unit.visible" class="card achievment {{ !unit.owned ? '' : 'available' }}" (click)="this.achievmentService.addAchievment(this.user.getUserData().id, unit.id)">
        <div class="card-body">
          <span>{{ unit.price }}$</span>
          <h5 class="card-title">{{ unit.name }}</h5>
          <p class="card-text" title="{{ unit.options }}">{{ unit.desc }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
