.achievments
  .achievment
    border-radius: 0.5rem;
    background-color: rgba(0,0,0,.1);
    border: 1px solid black;
    -webkit-transition: all 1s ease
    -moz-transition: all 1s ease
    -ms-transition: all 1s ease
    -o-transition: all 1s ease
    transition: all 1s ease

    .card-body
      border: 1px solid gold;
      padding: 0.25rem;
      margin: 0.25rem;
      border-radius: 0.5rem;

  .achievment:hover
    background-color: rgba(0,0,0,.25);
    box-shadow: 3px 3px dimgrey;

