.achievments
  .achievment
    border-radius: 0.5rem;
    background-color: rgba(255,255,255,.1);
    -webkit-transition: all 1s ease
    -moz-transition: all 1s ease
    -ms-transition: all 1s ease
    -o-transition: all 1s ease
    transition: all 1s ease

    .card-body
      border: 1px solid rgba(235, 232, 30, 0.5);
      padding: 12px;
      margin: 1px;
      border-radius: 0.5rem;

  .achievment:hover
    background-color: rgba(255,255,255,.25);
    box-shadow: 3px 3px dimgrey;

