<div class="container text-center">
  <h1>
    Iroda
  </h1>
  <p>
    Itt láthatod a dolgozóid és itt vehetsz fel új kollégákat, a maximális létszám jelenleg: <strong>{{ getCapacity() }}</strong>
  </p>
  <div class="row">
    <br>
    <div class="col-sm-3 mb-3" *ngFor="let unit of units">
      <div class="card {{(unit.active == null || !unit.active) ? 'disabled' : ''}}">
        <div class="unit-level">
          <span>{{unit.level}}</span>
        </div>
        <div class="card-image" ngbPopover="{{ unit.description }}. Csatlakozott: {{ unit.joined | date }}" popoverTitle="{{ unit.name }}">
          <img src="{{ unit.sprite }}" class="card-img-top" alt="...">
          <h5 class="card-title">{{ unit.name }}</h5>
          <p class="card-text"><i class="fas fa-dollar-sign"></i>: {{ unit.produce }}  <i class="fas fa-bolt"></i>: {{ unit.xp }}</p>
        </div>
        <div class="card-body">
          <button [disabled]="!unitLevelupAvailable(unit)" class="btn btn-sm btn-info mr-1" (click)="liftUnitLevel(unit, getLevelUpValue(unit))"><i class="fas fa-arrow-circle-up"></i> ( {{ getLevelUpValue(unit) | numberformat}} $ )</button>
          <button class="btn btn-sm btn-danger" (click)="open(unit)"><i class="fas fa-user-times"></i></button>
        </div>
      </div>
    </div>
    <div class="col-sm-3 mb-3" *ngIf="newUnitAvailable()">
      <div class="card  card-new-unit">
        <div class="unit-level">
          <span>???</span>
        </div>
        <div class="card-image" ngbPopover="{{ unit.description }}. Csatlakozott: {{ unit.joined | date }}" popoverTitle="{{ unit.name }}">
          <img src="../../assets/new-unit-bg.png" class="card-img-top" alt="...">
          <h5 class="card-title">Új munkatárs!</h5>
          <p class="card-text">{{ newUnitPrice() }} $</p>
        </div>
        <div class="card-body">
          <button class="btn btn-sm btn-info" (click)="getNewUnit(newUnitPrice())" title="A gomb megnyomásával felveszed az adott egységet a cégedhez!"><i class="fas fa-user-plus"></i></button>
        </div>
      </div>
    </div>
  </div>
</div>
