.card
  max-width: 12rem
  min-height: 180px
  background: transparent

  .btn
    border: 2px solid white

  .card-body
    padding: 0
    height: 0px
    width: 100%
    position: absolute
    bottom: 32px
    overflow: hidden
    -webkit-transition: all .3s ease-in-out
    -moz-transition: all .3s ease-in-out
    -ms-transition: all .3s ease-in-out
    -o-transition: all .3s ease-in-out
    transition: all .3s ease-in-out

  &:hover .card-body
    height: 30px

  .card-title
    margin-bottom: 0.75rem
    position: absolute
    top: 0px
    text-align: center
    width: 100%
    text-shadow: 1px 1px 3px black
    -webkit-transition: all .2s ease-in
    -moz-transition: all .2s ease-in
    -ms-transition: all .2s ease-in
    -o-transition: all .2s ease-in
    transition: all .2s ease-in
    cursor: default

  &:hover .card-title
      padding: 6px
      background-color: rgba(0,0,0,.25)

  .card-text
    background-color: rgba(0,0,0,.25)
    padding: 4px 0
    text-shadow: 1px 1px 3px black

  .unit-level
    position: absolute
    right: 0px
    background: gold
    width: 35px
    height: 35px
    border-bottom-left-radius: 41px
    border-bottom: 4px solid black

    span
      text-shadow: 1px 1px 1px black
      color: white
      font-size: 18px
      position: relative
      right: -5px

  .card-image
    height: 180px
    background: rgba(146, 255, 105, 0.67)
    overflow: hidden

.card.disabled::after
  display: block
  position: absolute
  width: 100%
  height: 100%
  background: rgba(0,0,0,.5)
  content: ''
  cursor: no-drop

.card-new-unit
  border: 3px dashed rgba(0,0,0,.75)
  cursor: copy

