<div class="container text-center p-2 mt-5">
  <div class="row">
    <div class="col-sm-3 mb-3" *ngFor="let unit of units">
      <div class="card">
        <img src="https://res.cloudinary.com/practicaldev/image/fetch/s--dWwH4rJ4--/c_limit%2Cf_auto%2Cfl_progressive%2Cq_66%2Cw_880/https://media2.giphy.com/media/fnD9cHHIrYRYk/giphy.gif" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{ unit.name }}</h5>
          <p class="card-text">{{ unit.produce }}</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
</div>
