<div class="container text-center story-board mt-5 p-5">
  <p>Orpus Milus bajban volt. A határidő ma este, de neki még kellene egy hét. Úgy néz ki, hogy a projekt csúszni fog. Viszont Milus mindent megtett, hogy ez ne történjen meg. Már este 10 múlt és még mindig nincs kész az új verzió. Gyorsabban kell dolgoznia. Beindult, mintha megszállta volna az ördög, nagyon gyorsan gépelt. Fél óra múlva megállt, mintha mi sem történt volna, kivette az USB-meghajtót a gépből és vigyorgott. KÉSZ! Elkészült az univerzális, mindent megoldó függvény. A verzió már nem is érdekelte.

    A projektek főnökei érezték, hogy valami nagy dolog történt. Kiküldték a csatlósaikat, hogy szerezzék meg az univerzális függvényt, hiszen így többé nem kell más cégekkel megoldani a problémáikat...</p>
</div>
