<div class="container text-center mt-5">
  <div class="row container-box p-3">
    <ngb-carousel *ngIf="slides">
      <ng-template ngbSlide>
        <img [src]="slides[0].src" alt="Random first slide">
        <div class="carousel-caption">
          <h4>Gyűjts pontokat és tapasztalatot</h4>
          <p>A cél a minél több hackpoint ($) összegyűjtése! Szerezz új munkaerőt, gyűjts tapasztalatot, válts ki kitüntetéseket!</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <img [src]="slides[0].src" alt="Random second slide">
        <div class="carousel-caption">
          <h4>Gyűjts pontokat és tapasztalatot</h4>
          <p>Az Irodában lévő kártyák jelképezik a dolgozóid, akik megadott hackpontokat ($) és tapasztalatot (☇) termelnek minden körben.</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <img [src]="slides[0].src" alt="Random third slide">
        <div class="carousel-caption">
          <h4>Lépj szintet</h4>
          <p>A bal alsó sarokban követheted nyomon a hackpointjaid ($) aktuális állását és hogy mennyi tapasztalat (☇) szükséges a következő szinthez</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <img [src]="slides[0].src" alt="Random third slide">
        <div class="carousel-caption">
          <h4>Lépj szintet</h4>
          <p>Ha elég tapasztalatod (☇) gyűlt össze, válts ki egy újonnan elérhető kitüntetést egy adott szintről a szintlépéshez!</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <img [src]="slides[0].src" alt="Random third slide">
        <div class="carousel-caption">
          <h4>Lépj szintet</h4>
          <p>Minél több szintről van kitüntetésed, annál nagyobb az irodád kapacitása, így egyre többet termelhetsz!</p>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>
</div>
<div class="container mt-5">
  <div class="row container-box p-3">
    <h3>Legjobbjaink:</h3>
    <table class="table table-dark mt-2">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Név (Cég)</th>
        <th scope="col">Szint</th>
        <th scope="col">Pontszám</th>
      </tr>
      </thead>
      <tbody>
        <tr *ngFor="let lead of leaders">
          <th scope="row">*</th>
          <td>{{ lead.name }} ( {{ lead.company }} )</td>
          <td>{{ lead.level }}</td>
          <td>{{ lead.points }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<!--<div class="row container-box">-->
<!--  <p>Orpus Milus bajban volt. A határidő ma este, de neki még kellene egy hét. Úgy néz ki, hogy a projekt csúszni fog. Viszont Milus mindent megtett, hogy ez ne történjen meg. Már este 10 múlt és még mindig nincs kész az új verzió. Gyorsabban kell dolgoznia. Beindult, mintha megszállta volna az ördög, nagyon gyorsan gépelt. Fél óra múlva megállt, mintha mi sem történt volna, kivette az USB-meghajtót a gépből és vigyorgott. KÉSZ! Elkészült az univerzális, mindent megoldó függvény. A verzió már nem is érdekelte.-->
<!--    A projektek főnökei érezték, hogy valami nagy dolog történt. Kiküldték a csatlósaikat, hogy szerezzék meg az univerzális függvényt, hiszen így többé nem kell más cégekkel megoldani a problémáikat...</p>-->
<!--</div>-->
