/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/scss/bootstrap";

body
  background-image: linear-gradient(to right, rgb(58, 63, 118), rgb(64, 155, 150));
  color: #5ae5f3
  text-shadow: 1px 1px #231cce
